* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    font-size: 1.6rem;
}

.container {
    box-sizing: border-box;
    width: 100%;
}

#avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid blue;
    margin-right: 20px;
    margin-left: 40px;
}

.nav-bar-left {
    display: flex;
    width: auto;
    align-items: center;
    background-color: rgb(56, 141, 221);
    color: white;
    margin-left: 0;

}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}

.nav-item:hover {
    color: yellow;
    font-size: 1.8rem;
    transition: 0.3s;
}

.nav-icon {
    width: 40px;
    border-radius: 50%;
}

.section-image {
    display: flex;
    width: 350px;
    align-items: center;
    text-align: center;
}

#image-setup {
    width: 250px;
    margin-top: 30px;
    margin-left: 5%;
    border-radius: 5px;
}

.principal-section {
    display: flex;
    flex-direction: column;
    width: 700px;
}

.item-article {
    display: flex;
    flex-direction: column;

    width: 700px;
    text-align: justify;
    margin-bottom: 20px;
}

.main-container {
    display: flex;
    height: auto;
}

.content-left {
    width: 340px;
    margin-left: 40px;
}

.content {
    width: 300px;
    text-align: justify;
}

h3 {
    text-align: center;
    margin-bottom: 15px;
}

.second-body {
    margin: 20px;
}

.video-habif {
    width: 400px;
    height: 250px;
    border-radius: 5px;
}


.footer {
    display: flex;
    box-sizing: border-box;
    background-color: rgb(56, 141, 221);
    color: white;
    width: 100%;
    height: 50px;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    justify-content: space-between;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    color: yellow;
}

@media(max-width:600px) {

    .container {
        width: 48rem;
        box-sizing: border-box;
    }
    
    .nav-bar-left {
        flex-direction: column;
        height: 40rem;
    }

    .nav-item {
        display: flex;
        box-sizing: border-box;
        width: 100%;
        height: 5rem;
        border: 1px solid blue;
        border-radius: 3px;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: bold;
        font-family: 'Press Start 2P', cursive;
        transition: 0.4s;
    }
    
    .main-container {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .content-left {
        display: flex;
        flex-direction: column;
        width: 40rem;
        box-sizing: border-box;
    }

    .content {
        width: 40rem;
        text-align: justify;
        margin: 1rem;
    }

    h3 {
        text-align: center;
        margin-bottom: 15px;
        font-family: 'Press Start 2P', cursive;

    }

    .section-image {
        width: 40rem;
        margin-bottom: 3rem;

    }

    #image-setup, .item-article {
        width: 40rem;
    }

    .principal-section {
        box-sizing: border-box;
        width: 40rem;
        margin-left: 5rem;
        margin-bottom: 2rem;
    }

    p{
        width: 40rem;
        margin-bottom: 0;
    }

    .second-body {
        margin: 0;
    }

    .article-video {
        margin-top: 0;
        padding: 0;
    }

    .video-habif {
        width: 40rem;
        height: 250px;

    }

    .footer {
        font-size: 1.5rem;
        align-items: center;
        padding-left: 3rem;
        padding-right: 3rem;
        justify-content: space-between;
        font-weight: bold;

    }

    .footer a {
        color: white;
    }

    

}